/* //Home page */
h1 {
    text-align: center;
}

image{
    size: 300px;
}


/* profile page */

nav {
    background-color: crimson;
}

.page-footer {
    background-color: blue;
}

/* Classes page */

.carousel .carousel-item {
    width: 600px;
    height: 500px;
    top: 70px;
    margin: 0;
}
 h3 {
     margin-bottom: 80px;
 }

